rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }

    match /words/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /dailyWords/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /gameModes/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}